
<div id='pageBody' class="with-header">
  <div id="pageBackground" class="h-100 w-100 hasBackgroundPicture pictureRunningTrack blur position-fixed"></div>
  <div id="loginForm" class="col col-10 offset-1 col-sm-8 offset-sm-2 col-md-3 offset-md-1">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'd-flex flex-column mt-3'}) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: 'w-25' %>
          <%= f.label :remember_me, class: 'w-50' %>
        </div>
      <% end %>

      <div class="actions mt-3 mb-3">
      <%= f.submit "Log in", class:'btn my-button filled invert', data:{disable_with: false}%>
      </div>
    <% end %>
      <%= render "users/shared/links" %>
  </div>
</div>



<script>


function validateForm(evt){
    evt.preventDefault();
    let errors = []
    if (document.querySelector('#user_email').value === '') {
      errors.push('Please insert an email')    

    } 
    
    if (document.querySelector('#user_password').value === '') {
      errors.push('Please insert a password')    

    }


    if (errors.length > 0) {
      let errList;
      let item;
      errors.forEach((elmnt) => {

        item = document.createElement('li')
        errList = document.querySelector('#errors-tootip ul')
        item.appendChild(document.createTextNode(elmnt))
        errList.appendChild(item)
      })
      errList.parentElement.classList.add('err-show')
       setTimeout(() => {
         errList.parentElement.classList.remove('err-show')
         setTimeout(() => {
           while (errList.firstChild) {
             errList.firstChild.remove()
           }
         }, 1100)
       }, 5000)
    }else{
      evt.target.submit();
    }
  }



  document.querySelector('form').addEventListener('submit', validateForm)

</script>