

        <div class="activity col col-12 row mt-4">
            <div class="activity_img col col-2 p-0">
              <img src="<%= image_path(imagePath) %> ">
            </div>
            <div class="activity_content col col-8 d-flex flex-column justify-content-start pl-3">
              <h2 class="mb-3"><%= title %></h2>
              <p> Category: <b><%= category %></b> </p>
              <p> Duration: <b><%= duration %></b> </p>
              <p> Date: <b><%= date %></b> </p>
            </div>
            <div class="activity_footer col col-2 d-flex flex-column justify-content-between mt-3 mb-3 text-right">
              <div class="stopwatch">
                  <img src=" <%= image_path('') %>">
              </div>
              <div>
            </div>
            </div>
          </div>
    