<!DOCTYPE html>
<html>
  <head>
    <title>V03Moovegroove</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


          
      <!--<p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      -->
      <nav class="navbar navbar-dark navbar-expand fixed-top" >
          <a class="navbar-brand mr-auto" href="<%= root_path %>">Move and Groove</a>
          <ul class="navbar-nav mr-2 mt-2 mt-lg-0">

                <% if  !user_signed_in? %>
                  <li class="nav-item >">
                    <a class="nav-link <%= request.path == root_path ? 'active' : ''  %>" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link <%= request.path == new_user_session_path ? 'active' : ''  %>" href="<%= new_user_session_path %>">Sign In</a>
                  </li>      		      		
                  <li class="nav-item">
                    <a class="nav-link <%= request.path == new_user_registration_path ? 'active' : ''  %>" href="<%= new_user_registration_path %>">Sign Up</a>
                  </li>
                <% else %>  
                  <li class="nav-item">
                    <a class="nav-link <%= request.path == activities_path ? 'active' : ''  %>" href="<%= activities_path %>">Activities</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  <%= request.path == edit_user_registration_path ? 'active' : ''  %>" href="<%= edit_user_registration_path %>">User</a>
                    </li>                                  
                  <li class="nav-item">
                      <%= link_to 'Logout', destroy_user_session_path, :method => :delete,  :class => "nav-link " %>
                  </li>                
                <% end %>
                
            </ul>
      </nav>
      <div id='errors-tootip'><ul></ul></div>

    <%= yield %>



    
    <footer class="d-flex justify-content-center align-items-center col col-12">
        <div id="siteMap" class="col col-6">
          
    
          <ul class="mr-2 mt-2 mt-lg-0">
            
              <% if  !user_signed_in? %>
              <li class="nav-item >">
                <a class="nav-link <%= request.path == root_path ? 'active' : ''  %>" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link <%= request.path == new_user_session_path ? 'active' : ''  %>" href="<%= new_user_session_path %>">Sign In</a>
              </li>      		      		
              <li class="nav-item">
                <a class="nav-link <%= request.path == new_user_registration_path ? 'active' : ''  %>" href="<%= new_user_registration_path %>">Sign Up</a>
              </li>
            <% else %>  
              <li class="nav-item">
                <a class="nav-link <%= request.path == activities_path ? 'active' : ''  %>" href="<%= activities_path %>">Activities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  <%= request.path == edit_user_registration_path ? 'active' : ''  %>" href="<%= edit_user_registration_path %>">User</a>
                </li>                                  
              <li class="nav-item">
                  <%= link_to 'Logout', destroy_user_session_path, :method => :delete,  :class => "nav-link " %>
              </li>                
            <% end %>
        
            </ul>
        </div>
        <div class="col col-6 text-right">
          <p>
            Call: <a href="#">123 4567890</a> <br>
            Email: <a href="#">email#@test.it</a>	 
          </p>
        </div>
    
    
      </footer>

  </body>
</html>
